{% extends 'base.html' %}

{% block content%}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}


<center><h1>Dashboard</h1></center>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <strong>Name : </strong> {{ current_user.name }} <br>
    <strong>Username : </strong>{{ current_user.username }}<br>
    <strong>Email Address : </strong> {{ current_user.email }}<br>
    <strong>User ID : </strong>{{ current_user.id }}<br>
    <strong>Member since : </strong> {{ current_user.date_added }}<br>

    <a href="{{ url_for('logout') }}" class="btn btn-outline-danger">Logout</a>
    <a href="{{ url_for('update', id=current_user.id )}}" class="btn btn-outline-warning">Update profile</a></td>
</div>
{% endblock %}